.mdx-list-view {
  width: 100%;
  display: flex;
  gap: 84px;
  padding-top: 24px;
}

.mdx-list-view-box-title {
  font-size: 18px;
  line-height: 24px;
  font-family: Helvetica;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-list-view-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;

  a {
    width: fit-content;
  }
}

.mdx-list-view-content {
  display: grid;
  // 2 x 3 grid
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 16px;
  flex-direction: column;
  width: 100%;
}

.mdx-list-view-section-title {
  margin-bottom: 24px;
  max-width: 460px;
}

.mdx-list-view-row {
  display: flex;
  flex-direction: column;
}

.mdx-list-view-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 4px 8px;

  border-radius: 50%;
  font-size: 12px;
  line-height: 16px;
  color: rgb(var(--lsd-text-secondary)) !important;
  background-color: rgb(var(--lsd-surface-secondary)) !important;

  margin-bottom: 16px;
}

.mdx-list-view-title {
  width: 100%;
  margin-bottom: 16px;
}

.mdx-list-view-header-title {
  display: flex;
  flex-direction: column;
}

.mdx-list-view-description {
  width: 100%;
  max-width: 460px;
}

@media (max-width: 768px) {
  .mdx-list-view {
    flex-direction: column;
    gap: 72px;
  }

  .mdx-list-view-title {
    font-size: var(--lsd-h5-fontSize) !important;
    line-height: var(--lsd-h5-lineHeight) !important;
  }

  .mdx-list-view-description {
    font-size: var(--lsd-subtitle3-fontSize) !important;
    line-height: var(--lsd-subtitle3-lineHeight) !important;
  }
}
